<!DOCTYPE html>
<html lang="en" ng-app="CalculatorApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../bootstrap/css/fontawesome-all.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap/css/mdb.css">
    <link rel="stylesheet" href="../bootstrap/css/style.css">

    <title>AngularJS Calculator App</title>
</head>

<body ng-controller="CalculatorCtrl as ctrl">

<div class="container">
    <div class="row mt-5">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div class="card">
                <div class="card-header bg-info">
                    <h2 class="text-center text-white display-4">Calculator App</h2>
                </div>
                <div class="card-body">
                    <div class="row ml-1">
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder="Enter First number" ng-model="ctrl.firstNumber">
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-teal">{{ctrl.Operator}}</a>
                        </div>
                        <div class="col-md-3 ml-4">
                            <input type="text" class="form-control" placeholder="Enter second number" ng-model="ctrl.secondNumber">
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-teal" ng-click="ctrl.fetchResult()">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                        <div class="col-md-3 ml-4">
                            <a class="btn btn-outline-teal btn-block">{{ctrl.Result}}</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <h4>Choose Operator:</h4>
                        </div>
                        <div class="col-md-9">
                            <a class="btn btn-teal" ng-click="ctrl.changeOperator('+')">+</a>
                            <a class="btn btn-teal" ng-click="ctrl.changeOperator('-')">-</a>
                            <a class="btn btn-teal" ng-click="ctrl.changeOperator('/')">/</a>
                            <a class="btn btn-teal" ng-click="ctrl.changeOperator('*')">*</a>
                            <a class="btn btn-teal ml-5" ng-click="ctrl.clearAll()">clear All</a>
                        </div>
                    </div>

                </div>
                <div class="card-footer bg-indigo text-white text-center">
                    <small>Developed and Maintained By Venkat Narasimaha Rao</small>
                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>

</body>
<!-- Body Ends -->
<script src="../bootstrap/js/fontawesome-all.js" ></script>
<script src="../bootstrap/js/jquery-3.2.1.min.js" ></script>
<script src="../bootstrap/js/popper.min.js" ></script>
<script src="../bootstrap/js/bootstrap.min.js" ></script>
<script src="../bootstrap/js/mdb.min.js" ></script>
<script src="../angular/angular.js" ></script>
<script src="08_app.js" ></script>
</html>